<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanperiod="30 seconds">

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/exchange.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
			<FileNamePattern>log/exchange.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
      		<maxHistory>30</maxHistory>   
			<!-- <totalSizeCap>1GB</totalSizeCap> -->
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
			    <maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="debug">
		<appender-ref ref="console" />
		<appender-ref ref="FILE" />
	</root>

	<logger name="com.wirebarley.exchange" level="debug" />

</configuration>
