<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<th:block layout:fragment="css"/>
</th:block>
<th:block layout:fragment="script"/>
</th:script>
<div layout:fragment="content">
    <div class="container" style="padding-top: 10%;font-size: 27px;">
        <div class="col" style="padding-bottom : 3%;" >
            <h1 style="border-bottom: 1px solid black">환율 계산</h1>
        </div>
            <div class="col-md-6" >
            <div><label>송금 국가 :</label> <span>미국(USD)</span></div>
            <div><label>수취 국가 :</label>
                <select name="receive_country" class="custom-select col-sm-6" id="receive_country" onchange = "getExchangeRates()">
                    <option selected value="dft">국가 선택</option>
                    <option value="KRW">한국(KRW)</option>
                    <option value="JPY">일본(JPY)</option>
                    <option value="PHP">필리핀(PHP)</option>
                </select>
            </div>
                <div><label>환율 :</label> <span id="exchange_rate"></span> </div>
                <div><label>송금액 :</label><span><input type="number" id="send_amount"></span>USD</div>
            <div style="text-align : right"><button type="button" class="btn btn-primary btn-sm " onclick="getSendAmount()" >환율 계산</button></div>

            </div>

        <div id="receiveResult" class="col"  style=" margin-top : 3%">
        </div>
    <script>
        $('#send_amount').keypress(function (e) {
            if (e.which === 13) {
                getSendAmount();
            }
        });
        function getExchangeRates(){
            var receive_country = $('#receive_country').val();
            console.log(receive_country);
            if(receive_country === "dft"){
                $('#exchange_rate').text("");
                return;
            }
            $.ajax({
                url : "api/exchangerates?receiveCountry=" + receive_country,
                type : "GET",
                success : function(res){
                   if(res.result) {
                    	 $('#exchange_rate').text(res.resultData + " " +receive_country + "/ USD");
                } else {
                	$('#exchange_rate').text(" " +receive_country + " " + res.resultMessage );
                }
                },
                error : function(err){
                	if(err.status === 400){
                        alert("잘못 입력된 값 입니다.")
                    }else if(err.status === 402){
                    	alert("환율 정보 조회 중 오류가 발생했습니다.")
                    }else if(err.status === 500){
                        alert("서버에 문제가 발생했습니다.")
                    }
                }
            })
        }
        function validCheck() {
            var amount = $('#send_amount').val();
            return (amount.length <= 0 || amount < 0 || amount > 10000);
        }

        function getSendAmount(){
            var receivingCountry = $('#receive_country').val();
            var sendAmount = $('#send_amount').val();
            var inputData = {
                "receiveCountry" : receivingCountry,
                "sendAmount" : sendAmount
            }
            if (validCheck()) {
                $('#receiveResult').html("<div class=\"alert alert-danger\"><p>송금액이 바르지 않습니다.송금액은 0 ~ 10000 사이의 수를 입력하세요</p></div>");
                return;
            }
            var jsonData = JSON.stringify(inputData);
            $.ajax({
                url : "/api/sendamount",
                data : jsonData,
                type : "POST",
                contentType : "application/json",
                success : function (res) {
                    if(res.result) {
                        $('#receiveResult').html("<div class=\"alert alert-success\">" +
                                "<p>수취금액은 " + res.resultData + " " + receivingCountry + " 입니다.</p>" +
                                "</div>");
                 }
                },
                error : function(err){
                	if(err.status === 400){
                        alert("잘못 입력된 값 입니다.")
                    }else if(err.status === 402){
                        alert("환율 정보 조회 중 오류가 발생했습니다.")
                	}else if(err.status === 500){
                        alert("서버에 문제가 발생했습니다.")
                    }
                }
            })
        }
    </script>
</div>
</div>

</html>